<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jeppe.obarey_v03" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".ObareyApp"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityStart"
            android:noHistory="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityMain"
            android:label="MainActivity">
        </activity>

        <activity
            android:name=".ActivityAddFriend"
            android:label="AddFriendActivity">
        </activity>

        <activity
            android:name=".ActivityNotifications"
            android:label="NotificationsActivity">
        </activity>

        <activity
            android:name=".ActivitySettings"
            android:label="SettingsActivity">
        </activity>

        <activity
            android:name=".ActivityGame"
            android:label="GameActivity"
            android:noHistory="true">
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
</manifest>
